*{
  box-sizing: border-box;
}

h1 {
  color: blue;
  text-align: center;
}


#container {
  
  background-color: white;

}


.section {
  width: 33%;
  height: 50px;
  margin: 0;
  display: inline-block;


}


  
 .label
{
background-color: yellow;
width: 33%;


  
  
}

  
div #p1 {
  background-color: red;
  
}

div #p2 { background-color: blue;
  
}

div #p3 { background-color: green;
  
  

}

.section > div {
padding: 10px;
display: block;
background-color: orange;


}